<div>
    {{#each products}}
    <div>
        <h4>{{this.title}}</h4>
        <p>{{this.price}}</p>
        <p>{{this.id}}</p>
    </div>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>