<div>
    <h2>Ingrese nuevo Producto</h2>
<form action="get" id="formulario">
    <p>Nombre</p>
    <input id="title" type="text" />
    <p>Descripcion</p>
    <input id="description" type="text" />
    <p>Código</p>
    <input id="code" type="number" />
    <p>Precio</p>
    <input id="price" type="number" />
    <p>Stock</p>
    <input id="stock" type="number" >
    <p>Categoria</p>
    <input id="category" type="text" />
    <button type="submit" id="submitBtn">Enviar</button>
</form>
<h3>Elimine un producto existente</h3>
<form action="post"  id="deleteProdForm">
    <p>Ingrese el Id del producto</p>
    <input id="deleteId" type="number">
    <button type="submit" id="deleteBtn">Eliminar</button>
</form>
<div>
    <ul id="productos"></ul>
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>